--- 
# Only the main Sass file needs front matter (the dashes are enough) 
--- 

// https://mmistakes.github.io/minimal-mistakes/docs/stylesheets/#customizing
$sans-serif: 'Noto Sans KR';
$monospace: 'Ubuntu Mono';

@charset "utf-8";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes";

@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR|Ubuntu+Mono);    

// https://github.com/mmistakes/minimal-mistakes/issues/1219
html {
  font-size: 12px; // change to whatever
  
  @include breakpoint($medium) {
    font-size: 14px; // change to whatever
  }

  @include breakpoint($large) {
    font-size: 16px; // change to whatever
  }

  @include breakpoint($x-large) {
    font-size: 18px; // change to whatever
  }
}

